@model  AgendaPlusWeb.Models.Paginacion

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_PlantillaMainPage.cshtml";
}

<div class="containerAcercaDe">
    <h1>About</h1>
    <div class="ContainerImagenes">
        <div class="containe-container-Img">
            <h2>This project was developed by:</h2>
            <div class="container-img-nombres">
                <div class="nombres-imagenes">
                    <h3>Carlos Mejia</h3>
                    <img src="/assets/imagenesCreadores/ImagenCarlos.jpg" alt="">
                </div>
                <div class="nombres-imagenes">
                    <h3>Victor Ponce</h3>
                    <img src="/assets/imagenesCreadores/FotoVic.jpeg" alt="">
                </div>
                <div class="nombres-imagenes">
                    <h3>Caleb Naranjo</h3>
                    <img src="/assets/imagenesCreadores/FotoCaleb.png" alt="">
                </div>
            </div>
            <h3 class="copy-right">© 2021 </h3>
        </div>
    </div>
</div>